# Python cache
__pycache__/
*.pyc

# VS Code
.vscode/

#logs
*.log
# tocken
token

# unarchived results (too big to include)
.results/

# Jupyter
.ipynb_checkpoints/

# Conda environment
*.conda
*.yaml~

# OS crap
.DS_Store

# Docker build artifacts
*.tar
